name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install nvim appimage
      run: |
        curl -sL -o nvim.appimage https://github.com/neovim/neovim/releases/latest/download/nvim.appimage &&\
        chmod +x nvim.appimage &&\
        ./nvim.appimage --appimage-extract >/dev/null &&\
        export PATH=$PWD/squashfs-root/usr/bin:$PATH &&\
        nvim --version
    - name: Run unit tests
      run: nvim --headless -u NONE "+lua dofile('tests/run.lua')" +qa
